<% content_for(:title, "Taiwanese Work in #{country.name_en}") %>
<% content_for(:og_title, country.og_title) %>
<% content_for(:og_description, country.og_description) %>

<div class="container-fluid">
  <div class="row country-select">
    <div class="col-md-offset-3 col-md-6">
        <h2 class="text-muted">Taiwanese Work in <%= country.name_en %></h2>
        <a href="/"><span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span> 回首頁</a>
    </div>
  </div>

  <div class="row main">
    <div class="col-md-offset-3 col-md-6">
      <div class="jumbotron">
        <h1>到<%= country.name_zh %>工作</h1>
        <p><%= country.intro %></p>
        <p><a class="btn btn-primary btn-lg" href="<%= country.url %>" role="button">前往<%= country.name_zh %>工作知識庫</a></p>
      </div>
    </div>

    <div class="col-md-offset-3 col-md-6">
      <p class="text-center"><span class="glyphicon glyphicon-plane" aria-hidden="true"></span></p>

      <h4>加入貢獻</h4>
      <p>
        歡迎一同編輯知識庫，目前採用 GitHub wiki 系統，部分國家已開放公開任何人編輯；若想提供片段資料但不想整理、編輯，也歡迎開 <a href="https://github.com/taiwanese-work-in/singapore/issues">GitHub issue</a> 提供。
      </p>
      <p>若您想要建立尚未列出的國家的知識庫，也歡迎與我們聯絡。</p>

      <p class="text-center"><span class="glyphicon glyphicon-plane" aria-hidden="true"></span></p>

      <div class="panel panel-warning">
        <div class="panel-heading">
          <h3 class="panel-title">請按讚並傳給想出國工作的朋友</h3>
        </div>

        <div class="panel-body">
          <div class="fb-like" data-href="http://taiwanese-work.in" data-layout="standard" data-action="like" data-show-faces="true" data-share="true"></div>
        </div>
      </div>
    </div>
  </div>

  <%= partial "footer" %>
</div>
